.Home {
    /* padding: 0 30px 0 30px;  */
    padding: 0 10% 0 10%; 
}

/* Name */

@import url('https://fonts.googleapis.com/css2?family=Ravi+Prakash&display=swap');
.Title {
    position: relative;
    margin-top: 55px;
}

.Title h1 {
    max-width:57px;
    font-size: 69px;
    line-height: 84px;
    font-family: 'Ravi Prakash', cursive;
    font-weight: normal;
    transition: 2s ease-in-out;
    animation: animateTitle 1s ease-in;
}

.Title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    max-width: 230px;
    width: 40%;
    height: 10px;
    background-color: #F8C826;
}

.Title h1 span {
    font-size: 88px;
}

@keyframes animateTitle {
    0% {
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}


.Icons > div a img {
    width: 30px;
}

.Icons > div:nth-child(2) {
    margin: 0 50px 0 50px;
}

.Icons {
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.Link {
    max-width: 140px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-gap: 10px;
    align-items: center;

}

.Link h3 a {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 90.4%;
    /* identical to box height, or 18px */

    letter-spacing: 0.075em;
    text-decoration: underline;
    text-transform: capitalize;
    color: #F8C826;
}



@media (min-width: 500px) {
    .Home {
        padding: 0 10% 0 10%;  
    }

    .Title h1 {
        font-size: 75px;
    }
    .Title h1 span {
        font-size: 140%;
    }

    .Title::after {
        bottom: -10px;
    }

    .Link {
        align-items: center;
    }
}

@media (min-width: 650px) {

    .Title h1 span {
        line-height: 100px;
    }
}



@media (min-width: 768px) {
    .Home {
        display: grid;
        grid-template-columns: 55% 45%;
        grid-gap: 5%;
    }

    .BoxSection {
        max-width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 980px) {
    .Home {
        grid-gap: 0%;
    }
}

@media (min-width:1000px) {
    .BoxSection {
        position: relative;
        top: -170px;
    }
}

@media (min-width: 1200px) {
    .Home {
        margin-top: 2%;
        padding-bottom: 2%;
    }

    .Title h1 {
        margin-top: 80px;
        font-size: 110px;
        line-height: 110px;
    }
    .Title h1 span {
        font-size: 130px;
    }
}