.Box {
    /* padding: 50px; */
    max-width: 350px;
    margin: 80px auto;
    width: 85%;
    height: 350px;
    max-height: 400px;
    background: rgba(66, 70, 87, 0.88);
    transition: .5s ease-out;
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: 45%;
    grid-template-areas: 
      ". . . ."
      ". a a .";
}

.Box:hover {
    background: rgba(255, 175, 41, 0.88);
}

.Box_Content {
    grid-area: a;
    align-self: center;
    justify-self: center;
    max-width: 70%;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: baseline;
    margin: auto;
    
}

.Box img {
    width: 30px;
    margin-top: 10px;
}

.Box h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 156.4%;
    /* or 47px */
    
    letter-spacing: 0.035em;

    color: #FFFFFF;
}

@media (min-width: 768px) {
    
}