

.ContactInfo {
    padding: 60px 10% 50px 10%; 
}

.Contact .Contact_Title {
    display: block;
    max-width: 450px;
}

.Contact {
    max-width: 330px;
}

.Contact .Contact_Title h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 143%;
    /* or 43px */
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.Contact .Contact_Sub {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 156.4%;
    /* or 22px */
    margin-top: 15px;
    letter-spacing: 0.035em;
    color: #C3C4C7;
}

.Contact .Contact_Email {
    margin-top: 60px;
}

.Contact .Contact_Email a {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 156.4%;
    /* or 34px */

    letter-spacing: 0.035em;
    text-decoration-line: underline;
    color: #F8C826;
}

 .Contact_Email {
    margin-top: 60px;
}

 .Contact_Email a {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 156.4%;
    /* or 34px */

    letter-spacing: 0.035em;
    text-decoration-line: underline;
    color: #F8C826;
}

/* Form */

.ContactForm {
    overflow: hidden;
    padding: 30px 25px 40px 25px;
    margin: auto;
    width: 90%;
    background: rgba(66, 70, 87, 0.88);
    box-shadow: 10px 1px 30px rgba(0, 0, 0, 0.21);
}

.ContactForm form div {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.ContactForm label {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 143%;
    /* identical to box height, or 26px */
    letter-spacing: 0.04em;
    margin-bottom: 15px;
    color: #FFFFFF;
}

.ContactForm textarea {
    letter-spacing: 0.04em;
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    line-height: 143%;
    padding: 10px;
    border: none;
    background: #333646;
    outline: none;
}


.ContactForm input {
    letter-spacing: 0.04em;
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    line-height: 143%;
    padding: 10px;
    border: none;
    width: 100%;
    height: 50px;
    background: #333646;
    outline: none;
}

.ContactForm button {
    margin-top: 20px;
    width: 100%;
    box-shadow: none;
    border: none;
    outline: none;
    background-color: #333646;
    color: white;
    font-family: Poppins;
    font-weight: bold;
    height: 50px;
}



@media (min-width: 768px) {
   .ContactForm {
       margin-left: 10%;
       width: 70%;
   }
}

@media (min-width: 1000px) {
    .ContactSection {
        display: grid;
        grid-template-columns: 1fr 1.4fr;
        position: relative;
        top: -50px;
    }

    .ContactInfo {
        padding: 20px 0 50px 20%; 
    }

    .ContactForm {
        width: 70%;
        margin: auto;
    }
}

@media (min-width:1200px) {

    .ContactInfo {
        padding: 30px 0 50px 20%; 
    }

    .Contact .Contact_Title h1 {
        font-size: 40px;
    }
}